.header {
  width: 100%;
  height: 30px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px var(--app-padding-a);
}

.menu {
  color: white;
}

.menu {
  display: flex;
  gap: 40px;
  list-style: none;
}
.menu li {
  padding: 5px;
}

.menu li a:link,
.menu li a:visited {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.menu li.active a:link,
.menu li.active a:visited {
  color: D9DADC;
}

@media (max-width: 700px) {
  :root {
    --app-padding-a: 30px;
  }
}
